

/* centered columns styles from http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns */

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.stripe {
	padding-top: 52px;
	padding-bottom: 52px;
    position: relative;

	&:nth-child(odd) {
		background-color: #eee;

        &:hover {
            background-color: darken(#eee, 3%);
        }
	}
}

.img-responsive {
    width: 100%;
}

.hide {
    display: hidden;
}
