footer.content-info {
	background-color: $brand-blue-dark;
	padding-top: 54px;
	padding-bottom: 180px;
	font-size:16px;
	font-weight: regular;
	font-weight: 300;
	
	&:hover {
            background-color: darken($brand-blue-dark, 3%);
        }

	a {
		color: #fff;

		&:hover, &:focus {
			text-decoration: underline;

		}
	}

	ul.menu {
		padding-left: 0;
		list-style-type: none;
		display: inline-block;
		float: left;
	}

	.footer-col-1 {
		text-align: center;
		
		img {
			display: inline-block;
			margin-bottom: 20px;
			width: inherit;
		}

		@media only screen and (min-width : 768px) {
			text-align: inherit;
		}

	}


}