

// Sets the header height

header.banner {
	
	.navbar-default{
		/* set the minimum header height for non mobile screens */
	    @media only screen and (min-width : 768px) {
		min-height: 201px;
		background-color: #fff;
		border: none;
		padding-top: 58px;		
	    }
	}
} // end header.banner

.navbar {
	@media only screen and (min-width : 768px) {
		margin-bottom: 0;
	}
}
.navbar-brand {
			margin-top: 0px;
		    margin-bottom: 15px;
		    height: auto;
		    padding: 2px 15px 15px;

	&>img {
		height: 111px;
		width: auto;
	}		
}

#menu-utility-menu.navbar-nav>li {
	
	&.menu-item-150 {
			background-color: $brand-primary;
			
			
			&>a {
			color: #fff;

				i {
					padding-right: 15px;
				}
			}

			&:focus, &:hover {
				background-color: darken($brand-primary, 13%);
			} 

	}					
	
	&>a {
			
		@media only screen and (min-width : 768px) {
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 14px;

		}
	}
}

.menu-primary-container {
	@media only screen and (min-width : 768px) {
		margin-top: 32px;
	}
}