/**
 *
 * Styles for page templates
 *
 * 1. Page Banner Styles
 * 2. Features Boxes
 * 3. Testimonial stripe
 * 4. CTA stripe
 * 5. Content stripe
 * 6. Sub pages stripe
 */


/* 1. Page Banner styles */

.page-banner {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat; 
	min-height: 582px;
	position: relative;

	/* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		padding: 40px;
    }

	.page-banner-content {
		position: absolute;
	    bottom: 0%;
	    left: 50%;
	    transform:translateX(-50%);
	    color: #fff;
	    margin-bottom:30px;
	    width: 100%;
		
		p {
			font-size: 220%;
			text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35); 
			font-weight: 700;
			font-weight: bold;
		}


	    /* Medium Devices, Desktops */
	    @media only screen and (min-width : 992px) {
			max-width: 80%;
			
			p {
			font-size: 280%;
			}

	    }

	    /* Large Devices, Wide Screens */
	    @media only screen and (min-width : 1200px) {
			max-width: 70%;
	    }

	}
}

/* 2. Feature Boxes styles */


.features-row {
	margin-top: 40px;
	
	object {
		height: 80px;
		display: block;

		svg {
			height: 100%;
		}
	}

	a {
		display: inline-block;

		svg  {
				fill: $brand-primary;
			&:hover, &:focus {
				fill: darken($brand-primary, 13%); 
			}	
		}	
		
	}
	
	.feature-wrapper {
		margin-bottom: 80px; 
	}
	
	.feature-content {
		margin-bottom: 20px;
	}

}


/* 3. Testimonial stripe  */

.stripe.testimonial {
	min-height: 520px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.testimonial-wrapper {
		color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;

		.testimonial-content {
			font-size: 32px;
		}
	}
}

/* 4. CTA stripe */
.stripe.call-to-action {
	background-color: $brand-primary;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;

	 @media only screen and (min-width : 768px) {
		text-align: inherit;
	 }

	&:hover {
		background-color: darken($brand-primary, 3%);
	} 

	.cta-wrapper {
		position: relative;

		.cta-text {
			position: relative;
			height: 100%;
			 p {
				padding-bottom: 0;
				font-size: 32px;
				line-height: 1.0;
			}
		}
		.cta-button-block {
			position: relative;
			height: 100%;
			 @media only screen and (min-width : 768px) {
				a {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}
			}

		}
	}
}


/* 5. Content stripe */
.stripe.default {
		padding-top: 0;
			
		// Start Page Header
		.page-header {
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat; 
			min-height: 280px;
			padding: 40px;
			position: relative;
			margin-top: 0;
			margin-bottom: 60px;

			
			.container {
				.page-banner-content {
					position: absolute;
				    bottom: 0%;
				    left: 50%;
				    transform:translateX(-50%);
				    color: #fff;
				    margin-bottom:50px;
					font-size: 280%;
					text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.35); 
					color:#fff;
					font-weight: 700;
					font-weight: bold;
					padding-left: 15px;
					padding-right: 15px;
					width: 100%;


				    /* Medium Devices, Desktops */
				    @media only screen and (min-width : 992px) {
						max-width: 80%;
				    }

				    /* Large Devices, Wide Screens */
				    @media only screen and (min-width : 1200px) {
						max-width: 70%;
				    }

				}
			}

			.wrap .article {
				padding-left: 15px;
				padding-right: 15px;
			}

		} //End Page Header

		.content p:first-of-type {
			font-size: 120%;
		}
}

/* 6. Sub pages stripe  */

.stripe.sub-pages {
	h3 {
		margin-top: 0;
	}

	.sub-page-wrapper {
		margin-bottom:40px;
	}

	.sub-page.text-left {
		text-align: center;
		margin-bottom: 40px;
		@media only screen and (min-width : 992px) {
			text-align: inherit;
		}


	}
}



